.mini-cart {
    background-color: lightgray;

    .cart-icon {
        font-size:32px;
        width:50px;
    }

    .cart-qty {
        background-color:#facc2e;
        border-radius:8px;
        font-size:13px;
        height:20px;
        text-align:center;
        width:20px;
    }
    .total-wrapper {
        .total-label {
            margin: 10 0 0 0;
        }
        .total-amount {
            font-weight: bold;
        }
    }
}