<GridLayout rows="auto,*,auto" class="page">

    <ActionBar title="" id="actionBar" icon="" class="action-bar" [style.paddingTop]="statusBarHeight">
        <NavigationButton text="" android.systemIcon="ic_menu_back"></NavigationButton>
    </ActionBar>

    <ScrollView row="1" [hidden]="loading" height="100%">

        <GridLayout rows="auto,auto,*">

            <GridLayout row="0" rows="*" columns="auto, *" class="p-10">
                <Image col="0" src="{{ fixImageUrl(restaurant?.restaurant_logo) }}" width="60" height="60"></Image>
                <Label col="1" text="{{ restaurant?.restaurant_name }}" textWrap="true"></Label>
            </GridLayout>

            <SegmentedBar row="1" class="segmented-bar" #sb [items]="tabs" (selectedIndexChange)="onChange(sb.selectedIndex)"></SegmentedBar>

            <GridLayout row="2" visibility="{{ visibility1 ? 'visible' : 'collapsed' }}">
                <ListView class="list-group" [items]="menus" (itemTap)="onMenuListItemTap($event)" separatorColor="gray" rowHeight="60" height="{{ listViewHeight }}">
                    <template let-menu="item">
                        <GridLayout class="list-group-item">
                            <Label class="list-group-item-heading" [text]="menu.catname"></Label>
                        </GridLayout>
                    </template>
                </ListView>
            </GridLayout>

            <StackLayout row="2" visibility="{{ visibility2 ? 'visible' : 'collapsed' }}">
                <Label [text]="'The new selectedIndex is: ' + selectedIndex" class="m-15 h3 p-5 text-center"></Label>
                <Button text="Show Modal" (tap)="showModal()" class="btn btn-primary"></Button>
            </StackLayout>

            <StackLayout row="2" visibility="{{ visibility3 ? 'visible' : 'collapsed' }}">
                <Label [text]="'The new selectedIndex is: ' + selectedIndex" class="m-15 h3 p-5 text-center"></Label>
            </StackLayout>

        </GridLayout>

    </ScrollView>

    <ActivityIndicator row="1" [busy]="loading" class="activity-indicator" width="100" height="100"></ActivityIndicator>

    <GridLayout row="2" columns="70,*,100" rows="*" class="mini-cart">
        <AbsoluteLayout col="0" class="cart-qty-wrapper">
            <Label [text]="'fa-shopping-basket' | fonticon" class="fa cart-icon" left="25" top="15"></Label>
            <Label [text]="cartQty$|async" class="cart-qty" left="50" top="10"></Label>
        </AbsoluteLayout>
        <Button col="1" text="Bestil" (tap)="gotoCart($event)" [isEnabled]="(cart$|async)?.length>0" class="btn btn-primary"></Button>
        <StackLayout col="2" class="total-wrapper">
            <Label text="total" class="total-label"></Label>
            <Label [text]="(cartTotal$|async) | currency:'DKK':false:'1.2-2'" class="total-amount"></Label>
        </StackLayout>
    </GridLayout>

</GridLayout>