.cart-view {
    .cart-top {
        background-color: #fff;

        .segmented-bar {
            color: #000;
            font-weight: bold;
        }

        .cart-zipcode {
            // margin: 0 10 5 10;
            padding: 5;
            border-width: 0 0 1 0;
            border-color: #9a9a9a;

            .drop-down {
                // padding: 5;
            }
        }
        
        .btn-delivery,
        .btn-pickup {
            background-color: #eee;
            border-width: 1px;
            border-color: #fff;
            color: #000;
            // margin: 5px;
        }
    }
    .cart-list {
        // border-color: #9a9a9a;
        // border-radius: 4px;
        // border-style: solid;
        // border-width: 1;
        // margin: 10 10 5 10;

        .cart-list-label {
            color: #000;
            font-size: 14px;
            // margin-left: 10px;
        }
        .cart-list-price {
            color: #6d6d6d;
            font-size: 14px;
            text-align: right;
        }

        .cart-list-item {
            border-color: #d3d3d3;
            border-width: 0 0 1 0;

            .cart-item-addonname {
                color: #6d6d6d;
                font-size: 12px;
            }
        }
    }
    .cart-total {
        background-color: #eee;
        // border-radius: 4px;
        // margin: 5 10 10 10;

        .cart-total-item {
            border-color: #d3d3d3;
            border-width: 0 0 1 0;
            // padding: 10;
        }
        .cart-total-label {
            color: #6d6d6d;
            font-size: 14px;
            font-weight: normal;
            text-align: right;
            // margin-left: 10px;
        }
        .cart-total-price {
            color: #6d6d6d;
            font-size: 14px;
            font-weight: bold;
            text-align: right;
        }
    }
}

.list-group {

    .list-group-item {
        color: #333;

        &.list-group-heading {
            background-color: white;
            color: black !important;
            font-weight: bold;
            border-color: #c51100;
            border-width: 0 0 2px 0;
        }
    }
}