<GridLayout rows="auto,auto,*" class="page cart-view">

    <ActionBar title="Kurv" id="actionBar" icon="" class="action-bar" [style.paddingTop]="statusBarHeight">
        <NavigationButton text="" android.systemIcon="ic_menu_back"></NavigationButton>
    </ActionBar>

    <ios>
        <GridLayout row="1" class="cart-top m-x-10" rows="*,auto" columns="*">
            <SegmentedBar class="segmented-bar" #sb [items]="deliveryOptions" (selectedIndexChange)="onDeliveryOptionsChange(sb.selectedIndex)"></SegmentedBar>
            <template [ngIf]="deliveryAvailable">
                <GridLayout class="cart-zipcode m-x-5 m-y-5" row="1" rows="*" columns="auto,*">
                    <Label col="0" text="Vælg postnummer: "></Label>
                    <DropDown col="1" class="drop-down" id="dd" row="1" [items]="zipCodes" hint="[Postnummer]" (selectedIndexChanged)="onZipcodeChange($event)"></DropDown>
                </GridLayout>
            </template>
        </GridLayout>
    </ios>
    <android>
        <GridLayout row="1" class="cart-top m-x-15" rows="*,30" columns="*,*">
            <Button col="0" class="btn btn-delivery">
                <FormattedString>
                    <Span text="&#xf0d1;" fontFamily="FontAwesome" foregroundColor="#000000" fontSize="18"></Span>
                    <Span text=" Levering" foregroundColor="#000000"></Span>
                </FormattedString>
            </Button>
            <Button col="1" class="btn btn-pickup">
                <FormattedString>
                    <Span text="&#xf290;" fontFamily="FontAwesome" foregroundColor="#000000" fontSize="18"></Span>
                    <Span text=" Afhentning" foregroundColor="#000000"></Span>
                </FormattedString>
            </Button>
            <DropDown id="dd" row="1" colSpan="2"></DropDown>
        </GridLayout>
    </android>

    <ScrollView row="2" [hidden]="loading" height="100%">

        <StackLayout>

            <StackLayout class="list-group cart-list">
                <!--<Label class="list-group-item list-group-heading" text="Din bestilling"></Label>-->

                <!--<ListView [items]="cart" separatorColor="gray" rowHeight="60" height="100%">
                    <template let-item="item">
                        <DockLayout height="100%" width="100%" class="list-group-item">
                            <StackLayout dock="left">
                                <Label class="cart-item-menuname" [text]="item.menuName"></Label>
                                <Label class="cart-item-addonname" [text]="item.addonName" textWrap="true"></Label>
                            </StackLayout>
                            <Label class="cart-item-price" dock="right" [text]="item.totalPrice|currency:'DKK':false:'1.2-2'"></Label>
                        </DockLayout>
                    </template>
                </ListView>-->

                <template ngFor let-item="$implicit" [ngForOf]="cart$|async" let-i="index">
                    <DockLayout width="100%" class="list-group-item cart-list-item">
                        <Label class="cart-list-price" dock="right" width="100" [text]="item.totalPrice|currency:'DKK':false:'1.2-2'"></Label>
                        <Label class="cart-list-qty" dock="left" width="30" [text]="item.qty + ' x'"></Label>
                        <StackLayout dock="bottom">
                            <Label class="cart-list-label" [text]="item.menuName"></Label>
                            <Label class="cart-item-addonname" [text]="item.addonName" textWrap="true"></Label>
                        </StackLayout>
                    </DockLayout>
                </template>
            </StackLayout>

            <StackLayout class="list-group cart-total">

                <DockLayout width="100%" class="list-group-item cart-total-item">
                    <Label dock="right" width="100" [text]="(subTotal$|async)|currency:'DKK':false:'1.2-2'" class="cart-total-price"></Label>
                    <Label dock="left" text="Subtotal" class="cart-total-label"></Label>
                </DockLayout>

                <DockLayout width="100%" class="list-group-item cart-total-item">
                    <Label dock="right" width="100" [text]="(deliveryAmount$|async)|currency:'DKK':false:'1.2-2'" class="cart-total-price"></Label>
                    <Label dock="left" text="Leveringsgebyr" class="cart-total-label"></Label>
                </DockLayout>

                <DockLayout width="100%" class="list-group-item cart-total-item">
                    <Label dock="right" width="100" [text]="(grandTotal$|async)|currency:'DKK':false:'1.2-2'" class="cart-total-price"></Label>
                    <Label dock="left" text="Total" class="cart-total-label" style="font-weight:bold"></Label>
                </DockLayout>

            </StackLayout>

        </StackLayout>

    </ScrollView>

    <ActivityIndicator row="1" [busy]="loading" class="activity-indicator" width="100" height="100"></ActivityIndicator>

</GridLayout>