<GridLayout rows="*" class="page search-form p-10">

  <StackLayout class="form" row="0" verticalAlignment="center">
    <Image src="~/images/splashheader.png" class="logo"></Image>
    <Label text="Online Mad Bestilling" class="h2 text-center"></Label>
    <StackLayout class="input-field">
        <TextField hint="Indtast dit postnummer" text="2640" class="input" id="tfZipCode" style="padding: 10px; border-bottom: 1px white solid"></TextField>
    </StackLayout>
    <Button text="Find restauranter" (tap)="findRestaurants()" class="btn btn-primary"></Button>
  </StackLayout>

</GridLayout>