.page {
    background-color: transparent;
}

.logo {
    width: 75%;
}

.h2 {
    color: #facc2e;
    margin-top: 60px;
    margin-bottom: 20px;
}

.input {
    border-color: #ffffff;
    border-width: 0 0 2 0;
}

.btn {
    border-color: #F0A42E;
    border-width: 0 0 4 0;
}