<template [ngIf]="!(menu$|async)">
    <GridLayout rows="*" class="page">
        <ActivityIndicator [busy]="loading" class="activity-indicator" width="100" height="100"></ActivityIndicator>
    </GridLayout>
</template>

<template [ngIf]="(menu$|async)">
    <GridLayout rows="*" class="page">
        <slides row="0" #slides>
            <template [ngIf]="(menuSizes$|async)?.length>0">
                <slide class="slide-size">

                    <GridLayout rows="*,60" style="margin-bottom: 20px">
                        <ScrollView [hidden]="loading" height="100%">
                            <StackLayout class="list-group">
                                <Label class="list-group-item list-group-heading" text="Vælg én"></Label>
                                <ListView [items]="menuSizes$|async" (itemTap)="onMenuSizeSelected($event)" separatorColor="gray" rowHeight="60" [height]="60*(menuSizes$|async)?.length">
                                    <template let-sizeOption="item">
                                        <DockLayout height="100%" width="100%" class="list-group-item">
                                            <Label class="fa btn-add" dock="right" width="30px" height="30px" [text]="sizeOption.checked ? ('fa-check-square-o' | fonticon) : ('fa-square-o' | fonticon)"></Label>
                                            <Label class="list-group-item-text price" dock="right" [text]="sizeOption.price > 0 ? (sizeOption.price|currency:'DKK':false:'1.2-2') : ''"></Label>
                                            <Label class="list-group-item-heading name" dock="left" height="36px" [text]="sizeOption.name"></Label>
                                        </DockLayout>
                                    </template>
                                </ListView>
                            </StackLayout>
                        </ScrollView>
                        <GridLayout row="1" columns="auto,*,100" rows="*" class="addToCartBottom" backgroundColor="lightgray">
                            <Label (tap)="close('')" style="margin-left:15">
                                <FormattedString>
                                    <Span text="&#xf104;" fontFamily="FontAwesome" foregroundColor="#000000" fontSize="28"></Span>
                                </FormattedString>
                            </Label>
                            <Button text="Fortsæt" (tap)="onContinueTap($event, slides)" [isEnabled]="!loading && (menuSizeValid$|async)" class="btn btn-primary"
                                col="1"></Button>
                            <StackLayout col="2" class="totalPart">
                                <Label text="total" class="totalLabel"></Label>
                                <Label [text]="(totalPrice$|async) | currency:'DKK':false:'1.2-2'" class="totalAmount"></Label>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>

                </slide>
            </template>
            <template [ngIf]="(mainAddons$|async)?.length>0">
                <slide class="slide-addons">

                    <GridLayout rows="*,60" style="margin-bottom: 20px">
                        <ScrollView [hidden]="loading" height="100%">
                            <StackLayout>
                                <StackLayout class="m-15">
                                    <Label class="text-muted" [text]="(menu$|async)?.menuDescription" textWrap="true"></Label>
                                </StackLayout>
                                <StackLayout class="list-group">
                                    <template ngFor [ngForOf]="mainAddons$|async" let-mainAddon let-mainAddonIndex="index">
                                        <Label class="list-group-item list-group-heading" [text]="mainAddonHeader(mainAddon)"></Label>
                                        <ListView [items]="mainAddon.subAddons" (itemTap)="onSubAddonTapped($event, mainAddonIndex)" separatorColor="gray" rowHeight="60"
                                            [height]="60*mainAddon.subAddons.length">
                                            <template let-subAddon="item">
                                                <DockLayout height="100%" width="100%" class="list-group-item">
                                                    <Label [class]="subAddon.checked ? 'fa btn-add-checked' : 'fa btn-add'" dock="right" width="30px" height="30px" [text]="subAddon.checked ? ('fa-check-square-o' | fonticon) : (mainAddon.addonsCount == 0 ? ('fa-plus-square-o' | fonticon) : ('fa-square-o' | fonticon))"></Label>
                                                    <Label class="list-group-item-text price" dock="right" [text]="subAddon.price > 0 ? '+' + (subAddon.price|currency:'DKK':false:'1.2-2') : ''"></Label>
                                                    <Label class="list-group-item-heading name" dock="left" height="36px" [text]="subAddon.name"></Label>
                                                </DockLayout>
                                            </template>
                                        </ListView>
                                    </template>
                                </StackLayout>
                            </StackLayout>
                        </ScrollView>
                        <GridLayout row="1" columns="30,*,100" rows="*" class="addToCartBottom" backgroundColor="lightgray">
                            <Label (tap)="close('')" style="margin-left:15">
                                <FormattedString>
                                    <Span text="&#xf104;" fontFamily="FontAwesome" foregroundColor="#000000" fontSize="28"></Span>
                                </FormattedString>
                            </Label>
                            <Button text="Fortsæt" (tap)="onContinueTap($event, slides)" [isEnabled]="!loading && (menuAddonsValid$|async)" class="btn btn-primary"
                                col="1"></Button>
                            <StackLayout col="2" class="totalPart">
                                <Label text="total" class="totalLabel"></Label>
                                <Label [text]="(totalPrice$|async) | currency:'DKK':false:'1.2-2'" class="totalAmount"></Label>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>

                </slide>
            </template>
            <slide class="slide-confirm">

                <GridLayout rows="*,60" style="margin-bottom: 20px">
                    <ScrollView [hidden]="loading" height="100%">
                        <StackLayout class="form">
                            <Label class="header" text="Antal" textWrap="false"></Label>
                            <GridLayout class="qty" rows="*" columns="auto,auto,auto" horizontalAlignment="center">
                                <Button col="0" class="btn qty-minus" (tap)="onQtyMinus()">
                                    <FormattedString>
                                        <Span text="&#xf147;" fontFamily="FontAwesome" foregroundColor="#c51100" fontSize="32"></Span>
                                    </FormattedString>
                                </Button>
                                <Label col="1" class="qty-label" [text]="qty$|async"></Label>
                                <Button col="2" class="btn qty-plus" (tap)="onQtyPlus()">
                                    <FormattedString>
                                        <Span text="&#xf196;" fontFamily="FontAwesome" foregroundColor="#c51100" fontSize="32"></Span>
                                    </FormattedString>
                                </Button>
                            </GridLayout>
                            <Label class="header" text="Særlige bemærkninger" textWrap="false"></Label>
                            <StackLayout class="input-field">
                                <TextView class="input input-border" id="tvComments" hint="Skriv her hvis du har en form for madallergi" text="" editable="true"></TextView>
                            </StackLayout>
                            <StackLayout class="m-15">
                                <Label class="text-muted note" text="Bemærk: hvis ekstra tilbehør noteres i kommentarfeltet, kan restauranten opkræve et ekstra beløb ved levering."
                                    textWrap="true"></Label>
                            </StackLayout>
                        </StackLayout>
                    </ScrollView>
                    <GridLayout row="1" columns="30,*,100" rows="*" class="addToCartBottom" backgroundColor="lightgray">
                            <Label (tap)="close('')" style="margin-left:15">
                                <FormattedString>
                                    <Span text="&#xf104;" fontFamily="FontAwesome" foregroundColor="#000000" fontSize="28"></Span>
                                </FormattedString>
                            </Label>
                            <Button text="Læg i kurv" (tap)="addToCart($event)" [isEnabled]="!loading && (menuAddonsValid$|async)" class="btn btn-primary"
                                col="1"></Button>
                            <StackLayout col="2" class="totalPart">
                                <Label text="total" class="totalLabel"></Label>
                                <Label [text]="(totalPrice$|async) | currency:'DKK':false:'1.2-2'" class="totalAmount"></Label>
                            </StackLayout>
                        </GridLayout>
                </GridLayout>

            </slide>
        </slides>
    </GridLayout>
</template>