Page, .page {
    margin-top: 0;
    background-color: #fff;
}

.list-group {

    .list-group-item {
        color: #333;

        &.list-group-heading {
            background-color: white;
            color: black !important;
            font-weight: bold;
            border-color: #c51100;
            border-width: 0 0 2px 0;
        }

        .price {
            margin-right: 5px;
            color: #000;
        }

        .btn-add {
            font-size: 32px;
            color: #c51100;
            background-color: transparent;
            // border-radius: 16px;
        }
        .btn-add-checked {
            font-size: 32px;
            color: #c51100;
            background-color: transparent;
            // border-radius: 16px;
        }
    }
}

.slide-confirm {
    .header {
        background-color: white;
        color: black !important;
        font-weight: bold;
        border-color: #c51100;
        border-width: 0 0 2px 0;
        padding: 16px;
    }

    #tvComments {
        color: #000000;
        height: 100px;
        margin: 10 0 0 0;
        padding: 5 5 5 5;
    }

    .note {
        font-size: 12px;
    }

    .qty {
        .qty-label {
            color: #000;
            font-size: 16px;
            font-weight: bold;
        }
    }
}

.addToCartBottom {
    .totalPart {
        .totalLabel {
            margin: 10 0 0 0;
        }
        .totalAmount {
            font-weight: bold;
        }
    }
}