<GridLayout rows="auto,*,60" class="page">

    <ActionBar title="" id="actionBar" icon="" class="action-bar" [style.paddingTop]="statusBarHeight">
        <NavigationButton text="" android.systemIcon="ic_menu_back"></NavigationButton>
    </ActionBar>

    <ScrollView row="1" [hidden]="loading" height="100%">

        <StackLayout class="list-group">
            <Label class="list-group-item list-group-heading" text="Vælg én"></Label>
            <ListView [items]="menuSizes$|async" (itemTap)="onMenuSizeSelected($event)" separatorColor="gray" rowHeight="60" [height]="60*(menuSizes$|async)?.length">
                <template let-sizeOption="item">
                    <DockLayout height="100%" width="100%" class="list-group-item">
                        <Label class="fa btn-add" dock="right" width="30px" height="30px" [text]="sizeOption.checked ? ('fa-check-square-o' | fonticon) : ('fa-square-o' | fonticon)"></Label>
                        <Label class="list-group-item-text price" dock="right" [text]="sizeOption.price > 0 ? (sizeOption.price|currency:'DKK':false:'1.2-2') : ''"></Label>
                        <Label class="list-group-item-heading name" dock="left" height="36px" [text]="sizeOption.name"></Label>
                    </DockLayout>
                </template>
            </ListView>
        </StackLayout>

    </ScrollView>

    <ActivityIndicator row="1" [busy]="loading" class="activity-indicator" width="100" height="100"></ActivityIndicator>

    <GridLayout row="2" columns="*,100" rows="*" class="addToCartBottom" backgroundColor="lightgray">
        <Button text="Fortsæt" (tap)="onContinueTap($event)" [isEnabled]="!loading && (valid$|async)" class="btn btn-primary"></Button>
        <StackLayout row="0" col="1" class="totalPart">
            <Label text="total" class="totalLabel"></Label>
            <Label [text]="(sum$|async) | currency:'DKK':false:'1.2-2'" class="totalAmount"></Label>
        </StackLayout>
    </GridLayout>

</GridLayout>