// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example 'nativescript-theme-core/scss/dark'.
@import 'nativescript-theme-core/scss/dark';

// Customize any of the theme’s variables here, for instance $btn-color: red;

$primary: #c51100;
$secondary: #facc2e;
$grey: #6B8077;

$btn-color: $secondary;
$btn-color-inverse: $primary;

// Import the theme’s main ruleset.
@import 'nativescript-theme-core/scss/index';

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

Page {
    background-image: url('~/images/homebg.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.page {
    color: #000000;
    background-color: #ffffff;
    font-family: 'Helvetica';
}

.action-bar {
    background-color: $primary;
}

SegmentedBar, .segmented-bar {
    color: #c51100;
    background-color: #ffffff;
    selected-background-color: #c51100;
}

.fa {
  font-family: FontAwesome;
}

.activity-indicator {
    color: $primary;
}

.h1, .h2, .h3 {
    font-family: 'Helvetica';
    font-weight: bold;
}

.form {
	font-family: 'Helvetica';

    .input-field {
        margin: 0 15 0 15;
        
        .input {
            color: #ffffff;
            font-size: 15;
            font-family: 'Helvetica';

            &.input-rounded {
                border-color: #ffffff;
                border-radius: 27;
            }
        }

    }
}

.list-group {
    background-color: #ffffff;
}

.input-field {
    font-family: 'Helvetica';
    placeholder-color: #ffffff;

    &.input {
        color: #ffffff;
    }

    border-bottom-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
