@import 'app-common';
@import 'nativescript-theme-core/scss/platforms/index.ios';

// Place any CSS rules you want to apply only on iOS here

.btn {
    color: #000000;
    font-weight: bold;
    font-family: 'Helvetica-Bold';
}

.segmented-bar {
    margin: 12 11 12 11;
}