<GridLayout rows="auto,*,60" class="page">

    <ActionBar title="" id="actionBar" icon="" class="action-bar" [style.paddingTop]="statusBarHeight">
        <NavigationButton text="" android.systemIcon="ic_menu_back"></NavigationButton>
    </ActionBar>

    <ScrollView row="1" [hidden]="loading" height="100%" class="">

        <StackLayout class="form">
            <StackLayout *ngIf="summary!=''">
                <Label class="header" text="Valg" textWrap="false"></Label>
                <StackLayout class="m-15">
                    <Label class="text-muted" [text]="summary" textWrap="true"></Label>
                </StackLayout>
            </StackLayout>
            <Label class="header" text="Antal" textWrap="false"></Label>
            <GridLayout class="qty" rows="*" columns="auto,auto,auto" horizontalAlignment="center">
                <Button col="0" class="btn qty-minus" (tap)="onQtyMinus()">
                    <FormattedString>
                        <Span text="&#xf147;" fontFamily="FontAwesome" foregroundColor="#c51100" fontSize="32"></Span>
                    </FormattedString>
                </Button>
                <Label col="1" class="qty-label" [text]="qty$|async"></Label>
                <Button col="2" class="btn qty-plus" (tap)="onQtyPlus()">
                    <FormattedString>
                        <Span text="&#xf196;" fontFamily="FontAwesome" foregroundColor="#c51100" fontSize="32"></Span>
                    </FormattedString>
                </Button>
            </GridLayout>
            <Label class="header" text="Særlige bemærkninger" textWrap="false"></Label>
            <StackLayout class="input-field">
                <TextView class="input input-border" id="tvComments" hint="Skriv her hvis du har en form for madallergi" text="" editable="true"></TextView>
            </StackLayout>
            <StackLayout class="m-15">
                <Label class="text-muted note" text="Bemærk: hvis ekstra tilbehør noteres i kommentarfeltet, kan restauranten opkræve et ekstra beløb ved levering."
                    textWrap="true"></Label>
            </StackLayout>
        </StackLayout>

    </ScrollView>

    <ActivityIndicator row="1" [busy]="loading" class="activity-indicator" width="100" height="100"></ActivityIndicator>

    <GridLayout row="2" columns="*,100" rows="*" class="addToCartBottom" backgroundColor="lightgray">
        <Button text="Læg i kurv" [isEnabled]="!loading" (tap)="addToCart($event)" class="btn btn-primary"></Button>
        <StackLayout row="0" col="1" class="totalPart">
            <Label text="total" class="totalLabel"></Label>
            <Label [text]="(totalPrice$|async) | currency:'DKK':false:'1.2-2'" class="totalAmount"></Label>
        </StackLayout>
    </GridLayout>

</GridLayout>