.header {
    background-color: white;
    color: black !important;
    font-weight: bold;
    border-color: #c51100;
    border-width: 0 0 2px 0;
    padding: 16px;
}

.note {
    font-size: 12px;
}

.qty {
    .qty-label {
        color: #000;
        font-size: 16px;
        font-weight: bold;
    }
}

.addToCartBottom {
    .totalPart {
        .totalLabel {
            margin: 10 0 0 0;
        }
        .totalAmount {
            font-weight: bold;
        }
    }
}

#tvComments {
    color: #000000;
    height: 100px;
    margin: 10 0 0 0;
    padding: 5 5 5 5;
}