<GridLayout rows="auto,*" class="page">

    <ActionBar title="" id="actionBar" icon="" class="action-bar" [style.paddingTop]="statusBarHeight">
        <NavigationButton text="" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    </ActionBar>

    <ListView row="1" class="list-group" [items]="items" (itemTap)="onItemTap($event)" [hidden]="loading">
        <template let-item="item">
            <StackLayout orientation="horizontal" class="list-group-item">
                <Image row="0" col="0" rowSpan="2" height="60" width="60" [src]="fixImageUrl(item.restaurant_logo)" class="thumb p-8"></Image>
                <GridLayout rows="auto auto *" columns="*">
                    <Label row="0" col="0" class="list-group-item-heading" [text]="item.restaurant_name"></Label>
                    <Label row="1" col="0" class="list-group-item-text streetname" [text]="item.restaurant_streetaddress"></Label>
                    <Label row="2" col="0" class="list-group-item-text" [text]="item.restaurant_serving_cuisines"></Label>
                </GridLayout>
            </StackLayout>
        </template>
    </ListView>

    <ActivityIndicator row="1" [busy]="loading" class="activity-indicator" width="100" height="100"></ActivityIndicator>

</GridLayout>