<GridLayout rows="auto,*" class="page">

    <ActionBar title="" id="actionBar" icon="" class="action-bar" [style.paddingTop]="statusBarHeight">
        <NavigationButton text="" android.systemIcon="ic_menu_back"></NavigationButton>
    </ActionBar>

    <ScrollView row="1" [hidden]="loading" height="100%">

        <GridLayout rows="*">

            <ListView class="list-group" [items]="subMenu" (itemTap)="onItemTap($event)" separatorColor="gray" rowHeight="80"
                height="{{ listViewHeight }}">
                <template let-menu="item">
                    <StackLayout class="list-group-item">
                        <Label class="list-group-item-heading" [text]="menu.menu_name"></Label>
                        <Label class="list-group-item-text" [text]="menu.menu_description"></Label>
                    </StackLayout>
                </template>
            </ListView>

        </GridLayout>

    </ScrollView>

    <ActivityIndicator row="1" [busy]="loading" class="activity-indicator" width="100" height="100"></ActivityIndicator>

</GridLayout>