.list-group {

    .list-group-item {
        color: #333;

        &.list-group-heading {
            background-color: white;
            color: black !important;
            font-weight: bold;
            border-color: #c51100;
            border-width: 0 0 2px 0;
        }

        .price {
            margin-right: 5px;
            color: #000;
        }

        .btn-add {
            font-size: 32px;
            color: #c51100;
            background-color: transparent;
            // border-radius: 16px;
        }
        .btn-add-checked {
            font-size: 32px;
            color: #c51100;
            background-color: transparent;
            // border-radius: 16px;
        }
    }
}

.addToCartBottom {
    .totalPart {
        .totalLabel {
            margin: 10 0 0 0;
        }
        .totalAmount {
            font-weight: bold;
        }
    }
}